extends layout

block content
  h1 Welcome to #{title}

  #searchDiv
    p
      label Subject
      input(name="subject", type="text", placeholder="What to search @ OLX?")#subject
    p
      label Category
      select(name="category")#category
        for item in categories
          option(value=item) #{item}
      label Sub Category
      select(name="categoryAll")#categoryAll
        option(value='Please choose from above') 'Please choose from above'

    p
        label Price From
        input(name="priceFrom", type="number", placeholder="From (amount)")#priceFrom
        label Price To
        input(name="priceTo", type="number", placeholder="To (amount)")#priceTo
        | &nbsp;
        | &nbsp;
        select(name="conditionPrice")#conditionPrice
          option(value="smaller") <
          option(value="bigger") >
        label * only used in GET (CategoryPrice)

    p
      label City:
      select(name="city")#city
        for item in cities
          option(value=item) #{item}
      label Sort:
      select(name="sort")#sort
        option(value="") Date
        option(value=",sort,1") Price

    p
      button(name="base1")#base1 GET (CategorySubject)
      button(name="base2")#base2 GET (CategoryPrice)
      button(name="base3")#base3 POST (Search)
      button(name="intermediate")#intermediate POST (Search Intermediate)

  #realEstateDiv
    p
      label Transaction Type:
      select(name="transaction")#city
          for item in realEstateTransactions
              option(value=item) #{item}
      label Tipology:
      select(name="a2")#a2
        option(value="") --CHOOSE TIPOLOGY--
        option(value="0") T0
        option(value="1") T1
        option(value="2") T2
        option(value="3") T3
        option(value="4") T4
        option(value="5") T5
        option(value="6") T6
        option(value="7") T7 ou Superior
      label Show AMI
      select(name="ami")#ami
        option(value="") No
        option(value="ami") Yes

  #container.waiting
    img(src= "/images/waiting.gif")

  h2#results

  table#resultsTable

  script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
  script(src="/javascripts/main.js")